services:
  app_proxy:
    environment:
      APP_HOST: martim-store-wallos_web_1
      APP_PORT: 8282
      PROXY_AUTH_ADD: "false"

  web:
    container_name: wallos
    image: bellamy/wallos:latest
    restart: unless-stopped
    environment:
      TZ: Atlantic/Madeira
    volumes:
      - /home/umbrel/umbrel/app-data/wallos/db:/var/www/html/db
      - /home/umbrel/umbrel/app-data/wallos/logos:/var/www/html/images/uploads/logos