# services:
#   app_proxy:
#     environment:
#       APP_HOST: martim-store-wallos_web_1
#       APP_PORT: 8282
#       PROXY_AUTH_ADD: "false"
#   web:
#     container_name: wallos
#     image: bellamy/wallos:latest
#     ports:
#       - "8282:80/tcp"
#     environment:
#       TZ: 'Atlantic/Madeira'
#     # Volumes store your data between container upgrades
#     volumes:
#       - './db:/var/www/html/db'
#       - './logos:/var/www/html/images/uploads/logos'
#     restart: unless-stopped
services:
  app_proxy:
    environment:
      APP_HOST: martim-store-wallos_web_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"
  web:
    container_name: wallos
    image: bellamy/wallos:latest
    environment:
      TZ: Atlantic/Madeira
    volumes:
      - /home/umbrel/umbrel/app-data/wallos/db:/var/www/html/db
      - /home/umbrel/umbrel/app-data/wallos/logos:/var/www/html/images/uploads/logos
    restart: unless-stopped
