version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: martim-store-wallos_web_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"
  web:
    image: bellamy/wallos:latest
    ports:
      - "8282:80/tcp"
    environment:
      TZ: Atlantic/Madeira
    volumes:
      - ${APP_DATA_DIR}/wallos/db:/var/www/html/db
      - ${APP_DATA_DIR}/wallos/logos:/var/www/html/images/uploads/logos
    restart: unless-stopped
    healthcheck:
      test: ["NONE"]